:root {
  --sectionBG: #041B29;
}

.sections {
  background-color: var(--sectionBG);
  box-shadow: 6px 5px 6px #00000037;
}

.container {
  max-width: none !important;
}

.navBar {
  margin: 20px auto;
  width: 90vw;
  position: sticky;
  top: 0;
  padding: 0 !important;
}

.navbar-nav:last-child {
  margin-left: auto;
}

.navbar-nav {
  font-size: 1.5rem;
}

.heroCarousel {
  margin: auto;
  width: 90vw;
  height: 87vh;

}

.carouselImage {
  width: 100%;
  object-fit: cover;
  height: 87vh;
}

.input {
  height: 50px;
  border-radius: 10px;
}

.name-fields .MuiTextField-root {
  width: 100%;
}

#overlay {
  position: fixed;
  /* Ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Initial opacity */
  z-index: 9999;
  /* Place it above other elements */
  animation: fadeOut 3s ease-in-out forwards;
  /* Apply the fade-out animation */
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    /* Start with full opacity */
  }

  100% {
    opacity: 0;
    /* End with no opacity (transparent) */
    visibility: hidden;
    /* Hide the element after animation */
  }
}