:root {
  --sectionBG: #041B29;
}

.sections {
  background-color: var(--sectionBG);
  box-shadow: 6px 5px 6px #00000037;
}

.container {
  max-width: none !important;
}

.navBar {
  margin: 20px auto;
  width: 90vw;
  position: sticky;
  top: 0;
  padding: 0 !important;
}

.navbar-nav:last-child {
  margin-left: auto;
}

.navbar-nav {
  font-size: 1.5rem;
}

.heroCarousel {
  margin: auto;
  width: 90vw;
  height: 87vh;

}

.carouselImage {
  width: 100%;
  object-fit: cover;
  height: 87vh;
}

.input {
  height: 50px;
  border-radius: 10px;
}

.name-fields .MuiTextField-root {
  width: 100%;
}